
/* Fontes */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');

:root{
    --cor1: #f2f0f0;
    --cor2: #a9a9a9;
    --cor3: #343538;
    --cor4: #173261;

    --font-titulo: 'Quicksand', sans-serif;
    --font-texto: 'Josefin Sans', sans-serif;
}


/* mobile.css */


/* Estilos gerais para dispositivos móveis */
body {
    font-size: 14px; /* Ajuste o tamanho da fonte conforme necessário */
}

/* Estilos para o cabeçalho em dispositivos móveis */
header {
    padding: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.menu-icon {
    display: block; /* Exiba o ícone do menu em dispositivos móveis */
}

.menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu li {
    margin: 10px 0; /* Adapte a margem conforme necessário */
}

/* Estilos para a seção "Sobre" em dispositivos móveis */
.sobre {
    flex-direction: column;
}

/* Estilos para as seções "Marvel Essenciais", "Marvel Classic" e "DC" em dispositivos móveis */
.marvel, .marvel2, .dc1 {
    flex-direction: column;
}
.hq1 {
    margin-bottom: 20px; /* Adapte a margem conforme necessário */
}

/* Estilos para o rodapé em dispositivos móveis */
footer {
    padding: 10px;
}

.social {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Adapte a margem conforme necessário */
}

.social a {
    margin: 0 10px; /* Adapte a margem conforme necessário */
}

/* Estilos para o botão "Sobre Mais" em dispositivos móveis */
.botaoMais {
    margin-top: 10px; /* Adapte a margem conforme necessário */
}

/* Estilos para o botão "Saiba Mais" em dispositivos móveis */
.saibaMaisBtn {
    margin-top: 10px; /* Adapte a margem conforme necessário */
}

#sobre{
    padding: 50px 0px;
    background: url(img/background8.jpg);
    background-size: cover;
    background-position: center;
}
.destaque_sobre{
    display: none;
}
.texto_sobre{
    color:var(--cor1);
    padding: 0px 10px;
}
.texto_sobre h2{
    margin-bottom: 10px;
}
.conteudoAdicional_sobre{
    margin-top: 20px;
}
.conteudoAdicional_sobre img{
    margin-right: 10px;
}

#marvel{
    padding: 50px 0px;
    background: url(img/marvel3.png);
    background-size: cover;
    background-position: center;
}
.hq1{
    color: var(--cor1);
    padding: 0px 10px;
}
.hq1 h2{
    margin-bottom: 10px;
}
.hq1 p{
    margin-bottom: 40px;
}
.hq1 span{
    display: none;
}

#marvel1{
    padding: 50px 0px;
    background: url(img/marvel5.png);
    background-size: cover;
    background-position: center;
}
.hq1{
    color: var(--cor1);
    padding: 0px 10px;
}
.hq1 h2{
    margin-bottom: 10px;
}
.hq1 p{
    margin-bottom: 40px;
}
.hq1 span{
    display: none;
}

#dc1{
    padding: 50px 0px;
    background: url(img/dc1.png);
    background-size: cover;
    background-position: center;
}
.hq2{
    color: var(--cor1);
    padding: 0px 10px;
}
.hq2 h2{
    margin-bottom: 10px;
}
.hq2 p{
    margin-bottom: 40px;
}
.hq2 span{
    display: none;
}
/* rodape */
footer{
    padding: 50px;
    background: var(--cor3);
    color: var(--cor1);
    text-align: center;
}
.social{
    margin-bottom: 25px;
}


/*SMARTPHONE LANDSCAPE*/
@media (min-width: 576px){
    /*layout*/
    .container{
        max-width: 600px;
    }
    main h1, main h2{
        text-shadow: #000 0.5em 0.5em 0.5em;
    }

}

/*TABLET PORTAIT*/
@media (min-width: 768px){
    /*layout*/
    .container{
        max-width: 720px;
    }
    main{
        height: 45vh;
    }
    main h1{
        font-size: 5.5em;
    }
    main h2{
        font-size: 2em;
    }
}

/*TABLET LANDSCAPE*/
@media (min-width: 992px){
    /*layout*/
    .container{
        max-width: 960px;
    }
    main{
        height: 70vh;
    }
}

/*PC*/
@media (min-width: 1200px){
    body{
        background: #ffffff;
    }
    /*layout*/
    .container{
        max-width: 1140px;
    }
    header{
        height: 125px;
    }
    .logo img{
        width: 189px;
        height: 189px;
        margin-top: 30px;
        margin-left: 30px;
    }
    label{
        display: none;
    }
    nav ul{
        position: static;
        height: auto;
        margin: 50px;
    }
    nav ul li{
        float: left;
        border: 0;
    }
    nav ul li a{
        color: var(--cor2);

    }    
    nav ul li a:hover{
        color: var(--cor4);
        
    }
    /* Sobre */
    .destaque_sobre{
        display: inline;
    }
    .destaque_sobre img{
        border-radius: 50%;
        margin-right: 50px;
    }
    #sobre{
        background-attachment: fixed;
    }

    
    .flex3{
        flex-direction: row;
        align-items: center;
    }

    /* marvel */
    #marvel{
        background-attachment: fixed;
    }
    #marvel span{
        display: inline;
        color: var(--cor4);
        font-weight: 700;
    }
    /* marvel1 */
    #marvel{
        background-attachment: fixed;
    }
    #marvel1 span{
        display: inline;
        color: var(--cor4);
        font-weight: 700;
    }
    /* dc1 */
    #dc1{
        background-attachment: fixed;
    }
    #dc1 span{
        display: inline;
        color: var(--cor4);
        font-weight: 700;
    }

}