
/* Reset de estilos para limpar estilos padrão do navegador */
*{
    margin: 0;
    padding: 0;
    border: 0;
}
html{
    scroll-behavior: smooth;
}


body{
    font-family: var(--font-texto);
    font-size: 1.2em;
    
}
.container{
    margin: 0 auto;
}
#topo{
    position: fixed;
    right: 3px;
    bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
}
.flex2{
    display: flex;
    align-items: center;
}
.flex3{
    display: flex;
    flex-direction: column;
}



/* inicio */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgb(29, 29, 29, 0.8)), url(img/background4.png) ;
    background-color: #333;
    color: #fff;
    padding: 15px;
}

.container {
    
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 100px; /* ajuste o tamanho conforme necessário */
}

.menu {
    display: flex;
    align-items: center;
}

.menu-icon {
    cursor: pointer;
    display: none;
    flex-direction: column;
    padding: 5px;
}

.hq {
    background-color: #fff;
    height: 3px;
    width: 25px;
    margin: 3px 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

@media only screen and (max-width: 768px) {
    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    .menu ul.show {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-icon {
        display: flex;
    }
}
/* sobre */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgb(29, 29, 29, 0.8)), url(img/background8.png) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.sobre {
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgb(29, 29, 29, 0.8)), url(img/background7.png) ;
    color: #ffffff;
    max-width: 1100px;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
}

.sobre img {
    max-width: 30%;
    height: auto;
    margin-bottom: 30px;
}

.descricao {
    margin-bottom: 10px;
}

.esconder {
    display: none;
}

.botaoMais {
    cursor: pointer;
    color: #2360a1;
    font-weight: bold;
}

.conteudoAdicional {
    display: none;
}

#mostrarMais:checked + .conteudoAdicional {
    display: block;
}
/* conteudo marvel */

.marvel {
    margin-top: auto;
    background-image: linear-gradient(rgba(108, 105, 105, 0.8),rgba(108, 27, 27, 0.8)), url(img/background3.png) ;
    padding: 20px;
    margin-bottom: 0;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
    background-color: rgb(202, 199, 198);
    color: #b4b0b0;
}

.hq img {
    float: left; /* A imagem vai flutuar para o lado esquerdo */
    margin-right: 30px; /* Adiciona um espaço entre a imagem e o texto */
}
/* Adicione este CSS ao seu arquivo de estilo */

.saibaMaisBtn {
    display: block;
    text-align: center;
    padding: 10px;
    background-color: rgb(84, 125, 167);
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: background-color 0.3s ease; /* Efeito de transição para a cor de fundo */
}

.saibaMaisBtn:hover {
    background-color: rgb(4, 15, 53); /* Cor de fundo ao passar o mouse */
}


/* Marvel2 */
.marvel2 {
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgb(29, 29, 29, 0.8)), url(img/background3.png) ;
    background-color: #e2dcdc;
    color: #adabab;
    max-width: 2000px;
    padding: 100px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin: 0;
    margin-bottom: 0;
}

.hq1 {
    display: flex;
    align-items: center;
}

.imagem {
    display: flex;
    max-width: 150px;
    width: auto;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.descricao {
    flex: 1;
}

.descricao p {
    margin-bottom: 15px;
}

#saibaMaisBtn {
    background-color: rgb(1, 15, 29);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saibaMaisBtn:hover {
    background-color: #3c5a86;
}
/* conteudo dc */
.dc {
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgb(29, 29, 29, 0.8)), url(img/background7.png) ;
    background-color: #fff;
    padding: 20px;
    color: #ffffff;
    box-shadow: 0 0 20px rgba(250, 250, 250, 0.1);
    margin: 20px;
    margin-bottom: 0;
}
.hq2 {
    background-image: linear-gradient(rgb(29, 29, 29, 0.8),rgba(10, 8, 8, 0.8)), url(img/background7.png) ;
    color: #c5c5c5;
    display: flex;
    align-items: center;
}

.imagem {
    display: flex;
    max-width: 150px;
    width: auto;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.descricao {
    flex: 1;
}

.descricao p {
    margin-bottom: 15px;
}

#saibaMaisBtn {
    background-color: rgb(1, 15, 29);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#saibaMaisBtn:hover {
    background-color: #3c5a86;
}

/* .container1 {
    display: flex;
    justify-content: space-between; /* Distribui os elementos ao longo do eixo principal (horizontal) */
/*    align-items: center;  Centraliza verticalmente os elementos */
/* }

.destaque_dc img {
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
/* }

.texto_dc {
    flex: 1; /* Faz com que o texto ocupe o restante do espaço disponível */
 /*    padding: 0 20px; /* Adiciona um espaçamento lateral ao texto (ajuste conforme necessário) */
/* } */

/* .hq p {
    display:flex; /* Garante que o parágrafo fique em uma nova linha */
    /* color: #ffffff; */
/* } */
/* .hq1 p{
    background: right;
    background: center;
    flex-direction: column;
    color: #fff;
} */
/* .hq3{
    margin-bottom: 10px;
    background-image: linear-gradient(rgba(14, 13, 13, 0.8),rgba(132, 62, 62, 0.8)), url(img/background5.png) ;
    color: #ffffff;
}
.hq3 img{
    border-radius: 25px;
}
.hq3 p{
    text-align: left;
}
.hq-info {
    text-align: center;
}

.hq-info img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}  */
/* Adicione esses estilos para enfeitar a seção */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}



/* Estilo para mostrar o conteúdo adicional quando o botão "Saiba Mais" é clicado */
#mostrarMais:checked + .hq3 .conteudoAdicional {
    background-color: #3c5a86;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 15px 0;
}

.container flex {
    display: flex;
    flex-wrap: wrap;
}

.item {
    flex: 1;
    min-width: 300px; /* ou outro valor mínimo desejado */
    margin: 10px;
}

@media only screen and (max-width: 600px) {
    /* Estilos para telas menores que 600px (ex: celulares) */
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    /* Estilos para telas entre 601px e 1024px (ex: tablets) */
}

@media only screen and (min-width: 1025px) {
    /* Estilos para telas maiores que 1025px (ex: PCs) */
}
img {
    max-width: 100%;
    height: auto;
}

